<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Aucune permission. L'application ne lit rien, n'envoie rien, ne sort pas de la tablette. -->

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Jecris">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullUser"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|density|fontScale"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Jecris">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
